<!DOCTYPE html>
<html lang="en">

<head>
  <title>SOFISH</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" href="/assets/image/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/ionicons-2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/css/blog-aside.css">
  <link rel="stylesheet" type="text/css" href="/public/css/header.css">
  <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">
  <link rel="stylesheet" type="text/css" href="/public/css/media-style.css">
  <link rel="stylesheet" type="text/css" href="/public/the-css/the-section.css">

</head>

<body class="responsive home-1">
  <div id="wrapper-container">
    {{include "./model/header.html"}}
    <div id="main-content" style="background: #1e1e1e;">
      <div class="thim-banner_home-1" style="background-image: url(/assets/image/homebg.png);">
        <div class="overlay-area"></div>
        <div class="container">
          <div class="bp-element bp-element-st-list-videos vblog-layout-1">
            <div class="wrap-element">
              <div class="feature-item">
                <div class="row">
                  <div class="col-lg-9">
                    <div class="video">
                      <img src="/assets/image/video.webp" alt="IMG">
                      <div class="overlay"></div>
                      <div class="meta-info">
                        <div class="imdb">
                          <span class="value">5</span>
                        </div>
                      </div>
                      <a href="https://www.youtube.com/watch?v=SgocMZj5A40" class="btn-play popup-youtube">
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="text">
                      <h4 class="title">
                        <a href="https://play.google.com/store/apps/details?id=com.aliensidea.oiltycoon.overseas&hl=en&gl=us"
                          target="_blank">
                          Oil Era - Idle Mining Tycoon
                        </a>
                      </h4>
                      <div class="info">

                      </div>
                      <div class="description">
                        you can bid to exploit the oil, sell oil and gas, build your own oil refinery and chemical
                        plant, and embark on the road to become an Oil Tycoon!</div>
                      <a href="https://play.google.com/store/apps/details?id=com.aliensidea.oiltycoon.overseas&hl=en&gl=us"
                        class="btn-readmore btn-normal shape-round" target="_blank">
                        read more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="bp-element bp-element-st-list-videos vblog-layout-1-1">
            <div class="wrap-element">
              <div class="normal-items">
                <div class="row">
                  <div class="col-sm-6 col-lg-3">
                    <div class="item">
                      <div class="pic">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.ludoland&pcampaignid=web_share"
                          target="_blank"><img src="/assets/image/game-01.jpg" alt="IMG"></a>
                        <div class="label">
                          HD
                        </div>
                        <div class="btn-play">
                          <div class="btn-gplay">
                            <a href="https://play.google.com/store/apps/details?id=com.sofish.ludoland&pcampaignid=web_share"
                              class="abtn-gplay" target="_blank"></a>
                          </div>
                          <div class="btn-aplay1">
                            <a aria-disabled="true" class="abtn-aplay"></a>
                          </div>
                        </div>
                      </div>
                      <h4 class="title">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.ludoland&pcampaignid=web_share"
                          target="_blank">
                          Ludo Land - Dice Board Game
                        </a>
                      </h4>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="item">
                      <div class="pic">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.anr.brawlknight&pcampaignid=web_share"
                          target="_blank"><img src="/assets/image/game-02.webp" alt="IMG"></a>
                        <div class="label">
                          CAM
                        </div>
                        <div class="btn-play">
                          <div class="btn-gplay">
                            <a href="https://play.google.com/store/apps/details?id=com.sofish.anr.brawlknight&pcampaignid=web_share"
                              class="abtn-gplay" target="_blank"></a>
                          </div>
                          <div class="btn-aplay1">
                            <a aria-disabled="true" class="abtn-aplay"></a>
                          </div>
                        </div>
                      </div>
                      <h4 class="title">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.anr.brawlknight&pcampaignid=web_share"
                          target="_blank">
                          Ever Legend: Idle RPG
                        </a>
                      </h4>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="item">
                      <div class="pic">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.tenants.wishes"
                          target="_blank"><img src="/assets/image/game-03.webp" alt="IMG"></a>
                        <div class="label">
                          New
                        </div>
                        <div class="btn-play">
                          <div class="btn-gplay">
                            <a href="https://play.google.com/store/apps/details?id=com.sofish.tenants.wishes"
                              class="abtn-gplay" target="_blank"></a>
                          </div>
                          <div class="btn-aplay1">
                            <a aria-disabled="true" class="abtn-aplay"></a>
                          </div>
                        </div>
                      </div>
                      <h4 class="title">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.tenants.wishes"
                          target="_blank">
                          住客大人的心願
                        </a>
                      </h4>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="item">
                      <div class="pic">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.campfire.herowars"
                          target="_blank"><img src="/assets/image/game-04.webp" alt="IMG"></a>
                        <div class="label">
                          Hot
                        </div>
                        <div class="btn-play">
                          <div class="btn-gplay">
                            <a href="https://play.google.com/store/apps/details?id=com.sofish.campfire.herowars"
                              class="abtn-gplay" target="_blank"></a>
                          </div>
                          <div class="btn-aplay1">
                            <a aria-disabled="true" class="abtn-aplay"></a>
                          </div>
                        </div>
                      </div>
                      <h4 class="title">
                        <a href="https://play.google.com/store/apps/details?id=com.sofish.campfire.herowars"
                          target="_blank">
                          Paper Wars:The Campfire
                        </a>
                      </h4>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="thim-popular-video_home-1">
        <div class="container">

          <div class="bp-element bp-element-st-list-videos vblog-layout-slider-1">
            <div class="wrap-element">
              <div class="heading-post">
                <h3 class="title">
                  Players Reviews
                </h3>
                <div class="description">
                  I love sofish games. It never gets boring and it's always challenging .
                </div>
              </div>
              <div class="list-posts">
                <div class="slide-posts js-call-slick-col" data-numofshow="4" data-numofscroll="1" data-loopslide="1"
                  data-autoscroll="0" data-speedauto="6000" data-responsive="[4, 1], [4, 1], [3, 1], [2, 1], [1, 1]">
                  <div class="wrap-arrow-slick">
                    <div class="arow-slick prev-slick">
                      <i class="ion ion-ios-arrow-left"></i>
                    </div>
                    <div class="arow-slick next-slick">
                      <i class="ion ion-ios-arrow-right"></i>
                    </div>
                  </div>
                  <div class="slide-slick">
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="pic">
                          <div class="meta-info">
                            <div class="imdb">
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                            </div>
                            <div class="xlr">
                              <span class="text-xlr">“I love this game, I've been playing since it was released.
                                Recently I was really enjoying trying to get the different trophies for completing the
                                levels with one life. ”</span>
                            </div>
                            <div class="profile-area">
                              <span class="icon-area"><img src="/assets/image/r-06.webp" alt="image"></span>
                              <span class="text-area">
                                <h6>Amber Makowski</h6>
                                <p>America</p>
                              </span>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="pic">
                          <div class="meta-info">
                            <div class="imdb">
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                            </div>
                            <div class="xlr">
                              <span class="text-xlr">“Omg this is like the best game!! I mean the graphics are good and
                                it's fun to play Also it helps me come over stress. Very satisfying,must play for a long
                                time!”</span>
                            </div>
                            <div class="profile-area">
                              <span class="icon-area"><img src="/assets/image/r-07.webp" alt="image"></span>
                              <span class="text-area">
                                <h6>Annette M.</h6>
                                <p>America</p>
                              </span>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="pic">
                          <div class="meta-info">
                            <div class="imdb">
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                            </div>
                            <div class="xlr">
                              <span class="text-xlr">“love this game. I play it all the time. Now there are adds I watch
                                to get boosts that help with the levels. It's an easier way to keep moving up the
                                levels. Great game!”</span>
                            </div>
                            <div class="profile-area">
                              <span class="icon-area"><img src="/assets/image/r-04.webp" alt="image"></span>
                              <span class="text-area">
                                <h6>GOPAL DAS</h6>
                                <p>India</p>
                              </span>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="pic">

                          <div class="meta-info">
                            <div class="imdb">
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                            </div>
                            <div class="xlr">
                              <span class="text-xlr">“Amazing game ever I will say ... It is so relaxing and anxiety
                                free game .... I enjoy playing this game.... Really I can judge it as awesome or no.1
                                game....”</span>
                            </div>
                            <div class="profile-area">
                              <span class="icon-area"><img src="/assets/image/r-05.webp" alt="image"></span>
                              <span class="text-area">
                                <h6>Peter LaBanca</h6>
                                <p>Germany</p>
                              </span>
                            </div>

                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="pic">

                          <div class="meta-info">
                            <div class="imdb">
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                            </div>
                            <div class="xlr">
                              <span class="text-xlr">“I love this game very much! The levels are both challenging and
                                addictive. Now I'm on like level 120 something and many of the levels I beat say Mastery
                                on the First Try!”</span>
                            </div>
                            <div class="profile-area">
                              <span class="icon-area"><img src="/assets/image/testimonials-image-2.png"
                                  alt="image"></span>
                              <span class="text-area">
                                <h6>Garry Francis</h6>
                                <p>Kiribati</p>
                              </span>
                            </div>

                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="pic">

                          <div class="meta-info">
                            <div class="imdb">
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                              <a href="javascript:void(0)" class="value"></a>
                            </div>
                            <div class="xlr">
                              <span class="text-xlr">“Great fun; super addictive!Still love this game; even after years
                                of playing. I feel like it used to be harder but it's still a good way to waste time.
                                Welcome the challenge. ”</span>
                            </div>
                            <div class="profile-area">
                              <span class="icon-area"><img src="/assets/image/r_02.webp" alt="image"></span>
                              <span class="text-area">
                                <h6>Pamela Jones</h6>
                                <p>America</p>
                              </span>
                            </div>

                          </div>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="thim-news-feed_home-1">
        <div class="container">

          <div class="bp-element bp-element-posts vblog-layout-slider-3">
            <div class="wrap-element">
              <div class="heading-post">
                <h3 class="title">
                  News Feed
                </h3>
                <div class="description">
                  It is a long established fact that a reader
                </div>
              </div>
              <div class="list-posts">
                <div class="slide-posts js-call-slick-col" data-numofshow="1" data-numofscroll="1" data-loopslide="1"
                  data-autoscroll="0" data-speedauto="6000" data-responsive="[1, 1], [1, 1], [1, 1], [1, 1], [1, 1]">
                  <div class="wrap-arrow-slick">
                    <div class="arow-slick prev-slick">
                      <i class="ion ion-ios-arrow-left"></i>
                    </div>
                    <div class="arow-slick next-slick">
                      <i class="ion ion-ios-arrow-right"></i>
                    </div>
                  </div>
                  <div class="slide-slick">
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="feature-item">
                              <a href="/single-blog-01"><img src="/assets/image/new-01.jpeg" alt="IMG"></a>
                              <div class="overlay"></div>
                              <div class="content">
                                <h4 class="title">
                                  <a href="/single-blog-01">
                                    STUDY: MILLENNIALS SPEND MORE TIME PLAYING VIDEO GAMES THAN GENERATION Z
                                  </a>
                                </h4>
                                <div class="info">
                                  <!--<span class="item-info">BY Conor O'Sullivan</span>-->
                                  <span class="item-info">March 14, 2023</span>
                                  <!--<span class="item-info">Animation</span>-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="item">
                              <div class="pic">
                                <a href="/single-blog-02"><img src="/assets/image/new-02.webp" alt="IMG"></a>
                              </div>
                              <div class="text">
                                <div class="info">
                                  June 19, 2023
                                </div>
                                <h4 class="title">
                                  <a href="/single-blog-02"
                                    title="STEPS TO PROTECTING YOUR STEAM ACCOUNT & ONLINE GAMING">
                                    STEPS TO PROTECTING …</a>
                                </h4>
                                <div class="description"
                                  title="Just like online gamers, Steam users often overlook account safety. Gamers build their accounts from scratch, buying and earning rewards and games and gaining invaluable friendships along the way.">
                                  Just like online gamers, Steam users often overlook account safety. Gamers build their
                                  accounts …
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="pic">
                                <a href="/single-blog-03"><img src="/assets/image/new-03.webp" alt="IMG"></a>
                              </div>
                              <div class="text">
                                <div class="info">
                                  May 24, 2023
                                </div>
                                <h4 class="title">
                                  <a href="/single-blog-03"
                                    title="8 BALL MASTER CUES OFF ON GAME HOLLYWOOD GAMES WITH A SEVERAL HUGE EVENTS">
                                    8 BALL MASTER CUES OFF …</a>
                                </h4>
                                <div class="description"
                                  title=" Game Hollywood Games has made a name for itself as one of the finest purveyors of browser-based strategy and role-playing MMOs on the internet. With its next big release, the platform is adding a whole new genre to its library. …">
                                  Game Hollywood Games has made a name for itself as one of the finest purveyors of
                                  browser-based …
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item-slick">
                      <div class="post-item">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="feature-item">
                              <a href="/single-blog-04"><img src="/assets/image/new-04.webp" alt="IMG"></a>
                              <div class="overlay"></div>
                              <div class="content">
                                <h4 class="title">
                                  <a href="/single-blog-04">
                                    WHAT FAN STUDIO ARE DOING TO IMPROVE GAME DEVELOPMENT AND ITS GAMIFICATION
                                    STRATEGIES</a>
                                </h4>
                                <div class="info">
                                  <!--<span class="item-info">BY Conor O'Sullivan</span>-->
                                  <span class="item-info">August 15, 2023</span>
                                  <!--<span class="item-info">Animation</span>-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="item">
                              <div class="pic">
                                <a href="/single-blog-05"><img src="/assets/image/new-05.webp" alt="IMG"></a>
                              </div>
                              <div class="text">
                                <div class="info">
                                  May 12, 2023
                                </div>
                                <h4 class="title">
                                  <a href="/single-blog-05"
                                    title="ACCLAIMED SURVIVAL STRATEGY GAME DOOMSDAY: LAST SURVIVORS GETS A PC VERSION">
                                    ACCLAIMED SURVIVAL …</a>
                                </h4>
                                <div class="description"
                                  title="To start the day in the best way, enjoythe extraordinary buffetbreakfast in the our courtyard caressed at auctor.">
                                  To start the day in the best way, enjoythe extraordinary buffetbreakfast in the our
                                  courtyard caressed at auctor.…
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="pic">
                                <a href="/single-blog-06"><img src="/assets/image/new-06.webp" alt="IMG"></a>
                              </div>
                              <div class="text">
                                <div class="info">June 13, 2023
                                </div>
                                <h4 class="title">
                                  <a href="/single-blog-06"
                                    title="KARTRIDER: DRIFT LICENSE GUIDE – HOW TO GET MORE TRACKS">
                                    BANKSTERS – A UNIQUE NFT …</a>
                                </h4>
                                <div class="description"
                                  title="KARTRIDER: DRIFT LICENSE GUIDE – HOW TO GET MORE TRACKS">
                                  NFTs are everywhere nowadays, including in games. And that might be a pretty good
                                  thing if the newly …</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- 尾页 -->
    {{include "./model/footer.html"}}

    <div id="thim-preloading">
      <div class="custom-image">
        <img src="/assets/images/wave.gif" alt="Loading">
      </div>
    </div>
  </div>
  <div id="back-to-top" class="btn-back-to-top">
    <i class="ion ion-ios-arrow-thin-up"></i>
  </div>

  <script src="/assets/js/libs/jquery/jquery.min.js"></script>
  <script src="/assets/js/libs/bootstrap/popper.js"></script>
  <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/libs/slick/slick.min.js"></script>
  <script src="/assets/js/libs/isotope/isotope.pkgd.min.js"></script>
  <script src="/assets/js/libs/select2/select2.min.js"></script>
  <script src="/assets/js/thim-custom.js"></script>

  <script>
    // console.log(jQuery, "S", $);
  </script>


</body>

</html>