{{extend './template/layout.html'}}


{{block "content"}}
<div class="responsive home-2" id="wrapper-container">
    {{include "./template/header.art"}}

    <div id="main-content">
        <div class="page-title">
            <div class="main-top">
                <div class="overlay-top-header"></div>
                <div class="content container">
                    <h1>GAME MAKES LIFE MORE INTERESTING</h1>
                </div>
            </div>
        </div>
        <div class="site-content sidebar-right">
            <div class="container">
                <div class="row">
                    <main class="site-main col-md-8">
                        <div class="wrap-main-content">
                            <div class="products-list">
                                <div class="row">
                                    {{each game_list item index}}
                                    <div class="col-xs-6 col-md-4 game-list-item">
                                        <div class="item-product">
                                            <div class="media-item">
                                                <div class="pic">
                                                    <a href="{{item.gp_link}}" target="_blank"><img src="{{item.img}}"
                                                            alt="IMG" /></a>
                                                    <div class="btn-play">
                                                        <div class="btn-gplay">
                                                            <a href="{{item.gp_link}}" target="_blank"><img
                                                                    class="a-btn-gplay"
                                                                    src="http://tmp-test.sofishgame.com/public/images/store-button-google-play.svg"
                                                                    alt="" /></a>
                                                        </div>
                                                        <div class="btn-aplay">
                                                            <a href="#top" aria-disabled="true" target="_blank"><img
                                                                    class="a-btn-aplay"
                                                                    src="http://tmp-test.sofishgame.com/public/images/store-button-app-store.svg"
                                                                    alt="" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-item">
                                                <h4 class="title">
                                                    <a href="{{item.gp_link}}" target="_blank">
                                                        {{item.title}}</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </main>

                    <div class="widget-area col-md-4 sticky-sidebar">
                        <aside class="widget widget_product_categories">
                            <div class="product-categories-title">
                                <h3 class="widget-title">Servers</h3>
                                <a href="#top" class="right-product-categories-title" id="open-servers-dialog">MORE
                                    <i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <ul class="product-categories">
                                {{each server_list[0] item index}}
                                <li class="cat-item">
                                    <a class="left-server" href="#top">
                                        {{item.game}}
                                    </a>
                                    <span class="server-item-span"> {{item.name}} </span>
                                    <span class="server-item-span">
                                        {{item.time | monthDayFormat}}
                                    </span>
                                </li>
                                {{/each}}
                            </ul>
                        </aside>

                        <aside class="widget widget_thim_layout_builder">
                            <div class="bp-element bp-element-products vblog-layout-list-1">
                                <div class="heading-products">
                                    <h3 class="title">Most Popular</h3>
                                </div>
                                <div class="list-products">
                                    {{each aside_list item index}}
                                    <div class="product-item">
                                        <a href="{{item.link}}" class="pic">
                                            <img src="{{item.img}}" alt="IMG" />
                                        </a>
                                        <div class="text">
                                            <h4 class="title">
                                                <a href="{{item.link}}">
                                                    {{item.title}}
                                                </a>
                                            </h4>
                                            <span class="price">
                                                <ins>
                                                    <span class="woocommerce-Price-amount">
                                                        {{item.date | dateFormat}}
                                                    </span>
                                                </ins>
                                            </span>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{include "./template/footer.art"}}

    <div id="app-servers-dialog"></div>
</div>
{{/block}}