{{extend './template/layout.html'}}


{{block "content"}}
<div class="responsive home-1" id="wrapper-container">

    {{include "./template/header.art"}}
    <main class="new-content">
        <div class="container">
            <div class="page-header">
                <span>当前位置：</span>
                <a href="./index.html">首页</a>
                <i class="ion ion-chevron-right"></i>
                <a href="#">recharge-order</a>
            </div>
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">

                </div>
            </div>

        </div>
    </main>
    {{include "./template/footer.art"}}
</div>
{{/block}}