.slide-up-overlay {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index         : 200;
    width           : 100vw;
    height          : 100vh;

    .slide-up-panel {
        position               : absolute;
        bottom                 : 0;
        left                   : 0;
        z-index                : 300;
        background-color       : #fff;
        height                 : 50vh;
        width                  : 100%;
        // pointer-events  : auto;
        opacity                : 1;
        overflow               : hidden;
        text-align             : center;
        border-top-left-radius : 16px;
        border-top-right-radius: 16px;

        .panel-header {
            display        : flex;
            justify-content: center;
            align-items    : center;
            padding        : 1.2vh 0;
            padding-bottom : 2.4vh;
            font-size      : 4vw;
            border-bottom  : 1px solid #ddd;

            h4 {
                color         : #0274ff;
                font-weight   : 500;
                word-spacing  : 0.08em;
                letter-spacing: 0.08em;
            }
        }

        .panel-body {
            background-color: #fff;
        }

    }
}