<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{block "head"}}
    <title>SOFISH</title>
    {{/block}}
    <!-- webpackIgnore: true -->
    <link rel="icon" type="image/png" href="./public/favicon.ico" />
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <link rel="stylesheet" type="text/css" href="./public/css/libs/bootstrap/bootstrap.min.css">
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <link rel="stylesheet" type="text/css" href="./public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <link rel="stylesheet" type="text/css" href="./public/fonts/ionicons-2.0.1/css/ionicons.min.css">
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <link rel="stylesheet" type="text/css" href="./public/css/libs/slick/slick.min.css">
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <link rel="stylesheet" type="text/css" href="./public/css/libs/magnific-popup/magnific-popup.min.css">
    <!-- /webpackIgnore -->
</head>

<body>
    {{block "content"}}{{/block}}

    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/jquery/jquery.min.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/bootstrap/popper.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/bootstrap/bootstrap.min.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/slick/slick.min.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/isotope/isotope.pkgd.min.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/select2/select2.min.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/libs/sticky-sidebar/theia-sticky-sidebar.min.js"></script>
    <!-- /webpackIgnore -->
    <!-- webpackIgnore: true -->
    <script type="text/javascript" src="./public/js/thim-custom.min.js"></script>
    <!-- /webpackIgnore -->
    {{block "script"}}

    {{/block}}

</body>

</html>