<!DOCTYPE html>
<html lang="en">

<head>
  <title>News</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" href="/assets/image/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/ionicons-2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/css/blog-aside.css">
  <link rel="stylesheet" type="text/css" href="/public/css/header.css">
  <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/public/css/blog.css">
  <link rel="stylesheet" type="text/css" href="/public/css/media-style.css">
</head>

<body class="responsive home-2 blog1-page">
  <div id="wrapper-container">
    {{include "../model/header.html"}}

    <div id="main-content">
      <div class="content-area">
        <div class="page-title">
          <div class="main-top" style="background-image: url(/assets/image/homebg.png);">
            <div class="overlay-top-header"></div>
            <div class="content container">
              <h1>
                Blog 1
              </h1>
              <div class="wrap-breadcrumb">
                <ul class="breadcrumbs">
                  <li>
                    <a href="/index">
                      Home
                    </a>
                  </li>
                  <li>
                    <span class="breadcrum-icon">/</span>
                    Blog
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="site-content sidebar-right layout-1">
          <div class="container">
            <div class="row">
              <main class="site-main col-lg-9">
                <div class="wrap-main-content">

                  <div class="blog-list thim-1-col vblog-layout-1">
                    <article class="item-blog image-item">
                      <div class="media-item">
                        <div class="pic">
                          <a href="/single-blog-01"><img src="/assets/image/new-01.jpeg" alt="IMG"></a>
                        </div>
                        <div class="date">
                          <span class="number">14</span> March, 2023
                        </div>
                      </div>
                      <div class="text-item">
                        <h4 class="title">
                          <a href="/single-blog-01">
                            STUDY: MILLENNIALS SPEND …
                          </a>
                        </h4>

                        <div class="content">
                          Video games have always been seen as a hobby for the young – a thing we grow out of as we
                          accumulate more responsibilities.According to the cliche, the average family home contains two
                          parents reading quietly at the kitchen table while their children zone out in front of the
                          living room TV, controllers in hand, screaming at their friends through headsets.</div>
                        <a href="/single-blog-01" class="btn-learnmore btn-small shape-round">
                          learn more
                        </a>
                      </div>
                    </article>
                    <article class="item-blog image-item">
                      <div class="media-item">
                        <div class="pic">
                          <a href="/single-blog-02"><img src="/assets/image/new-02.webp" alt="IMG"></a>
                        </div>
                        <div class="date">
                          <span class="number">19</span> June, 2023
                        </div>
                      </div>
                      <div class="text-item">
                        <h4 class="title">
                          <a href="/single-blog-02">
                            STEPS TO PROTECTING …
                          </a>
                        </h4>
                        <div class="content">
                          Just like online gamers, Steam users often overlook account safety. Gamers build their
                          accounts from scratch, buying and earning rewards and games and gaining invaluable friendships
                          along the way. But it can all go away if you don’t secure your account. New risks emerge
                          regularly. Hackers forcefully steal your accounts with various dirty tactics. Here are some
                          steps to protecting your Steam account & online gaming.</div>
                        <a href="/single-blog-02" class="btn-learnmore btn-small shape-round">
                          learn more
                        </a>
                      </div>
                    </article>
                    <article class="item-blog image-item">
                      <div class="media-item">
                        <div class="pic">
                          <a href="/single-blog-03"><img src="/assets/image/new-03.webp" alt="IMG"></a>
                        </div>
                        <div class="date">
                          <span class="number">24</span> May, 2023
                        </div>
                      </div>
                      <div class="text-item">
                        <h4 class="title">
                          <a href="/single-blog-03">
                            8 BALL MASTER CUES OFF …
                          </a>
                        </h4>

                        <div class="content">

                          Game Hollywood Games has made a name for itself as one of the finest purveyors of
                          browser-based strategy and role-playing MMOs on the internet.</div>
                        <a href="/single-blog-03" class="btn-learnmore btn-small shape-round">
                          learn more
                        </a>
                      </div>
                    </article>
                  </div>

                  <ul class="loop-pagination">
                    <li>
                      <a href="/blog" class="page-numbers current">
                        1
                      </a>
                    </li>
                    <li>
                      <a href="/blog-01" class="page-numbers">
                        2
                      </a>
                    </li>
                    <li>
                      <a href="/blog-01" class="page-numbers next">
                        Next
                        <i class="ion ion-ios-arrow-thin-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </main>
              <!-- 右侧边栏 -->
              {{include "../model/blog-aside.html"}}
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 尾页 -->
    {{include "../model/footer.html"}}

    <div id="thim-preloading">
      <div class="custom-image">
        <img src="/assets/images/wave.gif" alt="Loading">
      </div>
    </div>
  </div>
  <div id="back-to-top" class="btn-back-to-top">
    <i class="ion ion-ios-arrow-thin-up"></i>
  </div>
  <script src="/assets/js/libs/jquery/jquery.min.js"></script>
  <script src="/assets/js/libs/bootstrap/popper.js"></script>
  <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/libs/slick/slick.min.js"></script>
  <script src="/assets/js/libs/isotope/isotope.pkgd.min.js"></script>
  <script src="/assets/js/libs/select2/select2.min.js"></script>
  <script src="/assets/js/libs/sticky-sidebar/theia-sticky-sidebar.js"></script>
  <script src="/assets/js/thim-custom.js"></script>

</body>

</html>