<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="/assets/image/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/libs/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/libs/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/blog-aside.css">
    <link rel="stylesheet" type="text/css" href="/public/css/header.css">
    <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/public/css/about.css">
    <link rel="stylesheet" type="text/css" href="/public/css/media-style.css">
    <script src="/assets/js/number.js"></script>

</head>

<body class="responsive home-2">
    <div id="wrapper-container">
        {{include "../model/header.html"}}

        <div id="main-content">
            <div class="content-area">
                <div class="page-title">
                    <div class="main-top" style="background-image: url(/assets/images/bg-page-title-03.jpg);">
                        <div class="overlay-top-header"></div>
                        <div class="content container">
                            <h1>A LEADING GLOBAL ONLINE GAMES PUBLISHER</h1>
                        </div>
                    </div>
                </div>
                <div class="site-content layout-1">
                    <main class="site-main">
                        <div class="wrap-main-content">

                            <div class="thim-about_about-page">
                                <div class="container">

                                    <div class="bp-element bp-element-heading align-center">
                                        <h3 class="title">
                                            Let’s make great things together!
                                        </h3>
                                        <div class="content">
                                            If you are a newbie to managing a WordPress website, then congratulations!
                                            You are here at the right track with us because we are going to introduce
                                            you one of the most knowledge when owning a WordPress page: how to find your
                                            site the best WordPress Hosting service.This process is often overlooked.
                                        </div>
                                    </div>


                                    <div
                                        class="bp-element bp-element-counter-box align-center vblog-layout-1 show-line">
                                        <div class="item">
                                            <span class="number" id="visitor">
                                                <script>number('visitor', 154879);</script>
                                            </span>
                                            <span class="text">
                                                Visitor
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span class="number" id="download">
                                                <!--254879-->
                                                <script>number('download', 254879);</script>
                                            </span>
                                            <span class="text">
                                                Download
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span class="number" id="trailer">
                                                <script>number('trailer', 1548);</script>
                                            </span>
                                            <span class="text">
                                                Trailer
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span class="number">
                                                4.9
                                            </span>
                                            <span class="text">
                                                Rating
                                            </span>
                                        </div>
                                    </div>


                                    <div class="bp-element bp-element-st-list-videos vblog-layout-slider-4">
                                        <div class="wrap-element">
                                            <div class="slide-videos js-call-slick-col" data-numofshow="1"
                                                data-numofscroll="1" data-loopslide="1" data-autoscroll="0"
                                                data-speedauto="6000"
                                                data-responsive="[1, 1], [1, 1], [1, 1], [1, 1], [1, 1]">
                                                <div class="slide-slick">
                                                    <div class="item-slick">
                                                        <div class="item-video">
                                                            <img src="/assets/images/about-01.jpg" alt="IMG">
                                                            <a href="https://www.youtube.com/watch?v=NEqtQYxzQaE"
                                                                class="btn-play popup-youtube">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="item-video">
                                                            <img src="/assets/images/about-01.jpg" alt="IMG">
                                                            <a href="https://www.youtube.com/watch?v=NEqtQYxzQaE"
                                                                class="btn-play popup-youtube">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="item-video">
                                                            <img src="/assets/images/about-01.jpg" alt="IMG">
                                                            <a href="https://www.youtube.com/watch?v=NEqtQYxzQaE"
                                                                class="btn-play popup-youtube">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wrap-dot-slick"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="thim-services_about-page">
                                <div class="container">

                                    <div class="bp-element bp-element-heading align-center">
                                        <h3 class="title">
                                            Our Services
                                        </h3>
                                        <div class="description">
                                            Let’s make great things together!
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">

                                            <div class="bp-element bp-element-icon-box align-center vblog-layout-1">
                                                <div class="icon-box">
                                                    <div class="icon-image">
                                                        <img src="/assets/image/features01.png" alt="IMG" />
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">
                                                            Globalisation
                                                        </h3>
                                                        <div class="description">
                                                            We are committed to publishing high-quality games to the
                                                            global market.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4">

                                            <div class="bp-element bp-element-icon-box align-center vblog-layout-1">
                                                <div class="icon-box">
                                                    <div class="icon-image">
                                                        <img src="/assets/image/features02.png" alt="IMG" />
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">
                                                            Professional
                                                        </h3>
                                                        <div class="description">
                                                            With a strong team and rich resources, we are experts in
                                                            overseas distribution.</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4">

                                            <div class="bp-element bp-element-icon-box align-center vblog-layout-1">
                                                <div class="icon-box">
                                                    <div class="icon-image">
                                                        <img src="/assets/image/features03.png" alt="IMG" />
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">
                                                            Localisation
                                                        </h3>
                                                        <div class="description">
                                                            We care about the characteristics of each market &committed
                                                            to making every player enjoy it.</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="thim-partner_about-page">
                                <div class="container">

                                    <div class="bp-element bp-element-brands vblog-layout-slider-1">
                                        <div class="wrap-element">
                                            <div class="slide-brands js-call-slick-col" data-numofshow="5"
                                                data-numofscroll="1" data-loopslide="1" data-autoscroll="1"
                                                data-speedauto="3000"
                                                data-responsive="[5, 1], [4, 1], [3, 1], [2, 1], [1, 1]">
                                                <div class="slide-slick">
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-a.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-m.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-g.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-8.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-02.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-03.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-04.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-05.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-06.png" alt="IMG">
                                                        </div>
                                                    </div>
                                                    <div class="item-slick">
                                                        <div class="brand-item">
                                                            <img src="/assets/image/h-07.png" alt="IMG">
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </main>
                </div>
            </div>
        </div>

        <!-- 尾页 -->
        {{include "../model/footer.html"}}

        <div id="thim-preloading">
            <div class="custom-image">
                <img src="/assets/images/wave.gif" alt="Loading">
            </div>
        </div>
    </div>
    <div id="back-to-top" class="btn-back-to-top">
        <i class="ion ion-ios-arrow-thin-up"></i>
    </div>

    <script src="/assets/js/libs/jquery/jquery.min.js"></script>

    <script src="/assets/js/libs/bootstrap/popper.js"></script>
    <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>

    <script src="/assets/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="/assets/js/libs/slick/slick.min.js"></script>

    <script src="/assets/js/libs/isotope/isotope.pkgd.min.js"></script>

    <script src="/assets/js/libs/select2/select2.min.js"></script>

    <script src="/assets/js/thim-custom.js"></script>

</body>

</html>