<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="/assets/image/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/libs/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/libs/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/thim.css">
    <link rel="stylesheet" type="text/css" href="/public/css/blog-aside.css">
    <link rel="stylesheet" type="text/css" href="/public/css/header.css">
    <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/public/css/about.css">
    <link rel="stylesheet" type="text/css" href="/public/css/concact.css">
    <link rel="stylesheet" type="text/css" href="/public/css/media-style.css">
    <script src="/assets/js/libs/jquery/jquery.min.js"></script>
    <script src="/assets/js/libs/bootstrap/popper.js"></script>
    <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/libs/slick/slick.min.js"></script>
    <script src="/assets/js/libs/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/js/libs/select2/select2.min.js"></script>
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/thim-custom.js"></script>


</head>

<body class="responsive home-2 contact-page">
    <div id="wrapper-container">
        {{include "../model/header.html"}}

        <div id="main-content">
            <div class="content-area">
                <div class="page-title">
                    <div class="main-top" style="background-image: url(/assets/image/homebg.png);">
                        <div class="overlay-top-header"></div>
                        <div class="content container">
                            <h1>
                                22 N Canal Rd, Singapore</h1>
                        </div>
                    </div>
                </div>
                <div class="site-content layout-1">
                    <main class="site-main">
                        <div class="wrap-main-content">

                            <div class="thim-contact-info_contact-page">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3">

                                            <div class="bp-element bp-element-icon-box vblog-layout-2 align-center">
                                                <div class="icon-box">
                                                    <div class="icon-image">
                                                        <i class="ion ion-android-pin"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">
                                                            Our Location
                                                        </h3>
                                                        <div class="description">
                                                            22 N Canal Rd, Singapore
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="bp-element bp-element-icon-box vblog-layout-2 align-center">
                                                <div class="icon-box">
                                                    <div class="icon-image">
                                                        <i class="ion ion-android-call"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">
                                                            Call Us
                                                        </h3>
                                                        <div class="description">
                                                            <a href="javascript:;">+65 69705034</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="bp-element bp-element-icon-box vblog-layout-2 align-center">
                                                <div class="icon-box">
                                                    <div class="icon-image">
                                                        <i class="ion ion-email"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">
                                                            Message
                                                        </h3>
                                                        <div class="description">
                                                            <a href="javascript:;"><span class="__cf_email__"
                                                                    data-cfemail="c9aaa8bbacacbbe4aaa6a7bda8aabd89a4a8aefbe7aaa6a4">contact@sofish.com</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6 col-lg-3">

                                            <div class="bp-element bp-element-icon-box vblog-layout-2 align-center">
                                                <div class="icon-box">
                                                    <div class="icon-image">
                                                        <i class="ion ion-thumbsup"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">
                                                            Follow Us
                                                        </h3>
                                                        <div class="description">
                                                            <a href="javascript:;">
                                                                <i class="fa fa-facebook"></i>
                                                            </a>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-instagram"></i>
                                                            </a>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-youtube-play"></i>
                                                            </a>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="divline_contact-page"></div>
                                </div>
                            </div>


                            <div class="thim-send-message_contact-page">
                                <div class="container">

                                    <div class="bp-element bp-element-heading align-center">
                                        <h3 class="title">
                                            Send a message
                                        </h3>
                                        <div class="description">
                                            Your email address will not be published. Required fields are marked.
                                        </div>
                                    </div>


                                    <form class="contact-form" name="msg">
                                        <label class="wrap-input">
                                            <input type="text" name="name" placeholder="Name*" id="name">
                                            <span id="nameerr"></span>
                                        </label>
                                        <label class="wrap-input">
                                            <input type="text" name="email" placeholder="Email*" id="email">
                                            <span id="emailerr"></span>
                                        </label>
                                        <label class="wrap-input">
                                            <input type="text" name="phone" placeholder="Phone Number*" id="phone">
                                            <span id="phoneerr"></span>
                                        </label>
                                        <label class="wrap-input full-width">
                                            <input type="text" name="subject" placeholder="Subject*" id="subject">
                                        </label>
                                        <label class="wap-textarea">
                                            <textarea name="msg" placeholder="Message*" id="msg"></textarea>
                                        </label>
                                        <button class="form-submit" type="button" value="send your message"
                                            id="contact">send your message</button>
                                    </form>

                                </div>
                                <div class="map">
                                    <!--<iframe src="https://ditu.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d35206.811735826785!2d-73.97774789142626!3d40.733798330440614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25990e23d7e8d%3A0xfa615edfd1b67e18!2sWashington+Square+Park!5e0!3m2!1svi!2s!4v1538464707133" style="border:0" allowfullscreen></iframe>-->
                                    <img src="/assets/image/footerbg.png" alt="IMG">
                                    <div class="tit tit1">A LEADING GLOBAL ONLINE GAMES PUBLISHER</div>
                                    <div class="tit tit2">22 N Canal Rd, Singapore</div>
                                </div>
                            </div>

                        </div>
                    </main>
                </div>
            </div>
        </div>


        <!-- 尾页 -->
        <!-- {{include "../model/footer.html"}} -->

        <div id="thim-preloading">
            <div class="custom-image">
                <img src="/assets/images/wave.gif" alt="Loading">
            </div>
        </div>
    </div>
    <div id="back-to-top" class="btn-back-to-top">
        <i class="ion ion-ios-arrow-thin-up"></i>
    </div>
</body>

</html>