<!DOCTYPE html>
<html lang="en">

<head>
  <title>News Detail</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" href="/assets/image/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/ionicons-2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/libs/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/css/blog-aside.css">
  <link rel="stylesheet" type="text/css" href="/public/css/header.css">
  <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/public/css/single-blog.css">
  <link rel="stylesheet" type="text/css" href="/public/css/media-style.css">
</head>

<body class="responsive home-2">
  <div id="wrapper-container">

    <!--#include file="head.html"-->
    <!--#include file="nav.html"-->


    <div id="main-content">
      <div class="content-area">
        <div class="page-title">
          <div class="main-top" style="background-image: url(/assets/image/homebg.png);">
            <div class="overlay-top-header"></div>
            <div class="content container">
              <h1>
                Single Blog
              </h1>
              <div class="wrap-breadcrumb">
                <ul class="breadcrumbs">
                  <li>
                    <a href="/index">
                      Home
                    </a>
                  </li>
                  <li>
                    <span class="breadcrum-icon">/</span>
                    Single Blog
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="site-content sidebar-right layout-1">
          <div class="container">
            <div class="row">
              <main class="site-main col-lg-9">
                <div class="wrap-main-content">

                  <div class="bl-blog-detail">
                    <div class="head-blog">
                      <h2 class="title-blog-detail">
                        8 BALL MASTER CUES OFF ON GAME HOLLYWOOD GAMES WITH A SEVERAL HUGE EVENTS</h2>
                      <div class="info-blog-detail">
                        <!--<span class="info-item">-->
                        <!--<i class="ion ion-android-person"></i>-->
                        <!--By Conor O'Sullivan-->
                        <!--</span>-->
                        <!--<span class="info-item">-->
                        <!--<i class="ion ion-ios-pricetags-outline"></i>-->
                        <!--<a href="javascript:;">Academics,</a>-->
                        <!--<a href="javascript:;">Design</a>-->
                        <!--</span>-->
                        <!--<span class="info-item">-->
                        <!--<i class="ion ion-android-chat"></i>-->
                        <!--(0) Comment-->
                        <!--</span>-->
                      </div>
                    </div>
                    <div class="media-blog-detail">
                      <div class="pic">
                        <img src="/assets/image/new-03.webp" alt="IMG">
                      </div>
                      <div class="date">
                        <span class="number">24</span> May, 2023
                      </div>
                    </div>
                    <div class="text-blog-detail">
                      <div class="wrap-share-blog sticky-sidebar">
                        <div class="share">
                          <span class="namefield">
                            Share
                          </span>
                          <span class="socials">
                            <a href="javascript:;" class="item-social">
                              <i class="ion ion-social-facebook"></i>
                            </a>
                            <a href="javascript:;" class="item-social">
                              <i class="ion ion-social-twitter"></i>
                            </a>
                            <a href="javascript:;" class="item-social">
                              <i class="ion ion-social-googleplus"></i>
                            </a>
                            <a href="javascript:;" class="item-social">
                              <i class="ion ion-social-vimeo"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                      <div class="content-blog">
                        <p>Game Hollywood Games has made a name for itself as one of the finest purveyors of
                          browser-based strategy and role-playing MMOs on the internet.</p>
                        <p>With its next big release, the platform is adding a whole new genre to its library.</p>
                        <p>8 Ball Master is, as you probably guessed, a pool game. Sitting firmly at the casual end of
                          the virtual cuesports spectrum, it sees you taking on other players in real-time multiplayer 8
                          ball and snooker matches.</p>
                        <div>
                          <img class="lazyautosizes lazyloaded" src="/assets/image/new-bg01.webp"
                            data-srcset="/assets/image/new-bg01.webp 320w, /assets/image/new-bg01.webp 480w, /assets/image/new-bg01.webp 768w, /assets/image/new-bg01.webp 1024w, /assets/image/new-bg01.webp 1280w, /assets/image/new-bg01.webp 1440w"
                            data-sizes="auto" sizes="948px"
                            srcset="/assets/image/new-bg01.webp 320w, /assets/image/new-bg01.webp 480w, /assets/image/new-bg01.webp 768w, /assets/image/new-bg01.webp 1024w, /assets/image/new-bg01.webp 1280w, /assets/image/new-bg01.webp 1440w">
                        </div>
                        <p></p>
                        <p>Like all the best casual pool games, 8 Ball Master offers easy-to-learn controls and
                          accessible gameplay alongside ultra-realistic 3D ball physics. The result is a fun and
                          approachable game with endless replayability and challenge.</p>
                        <p>Among the additional perks on offer are a wide selection of customizable tables and cues and
                          an equally wide selection of modes. They include 8 ball matches, trick shot scenarios,
                          tournaments, and more.</p>
                        <p>The game supports a ton of different languages, too, including English, Portuguese, French
                          and Spanish.. You can switch between them at any time.</p>
                        <p>To celebrate the launch of 8 Ball Master, Game Hollywood Games is running a number of
                          introductory events.</p>
                        <p>Logging in for 15 consecutive days will let you claim an SSS Box, in turn giving you the
                          chance to win an SSS cue. Completing seven days of tasks, meanwhile, lets you claim 8888 Gold,
                          a Green Diamond, and 10 Cash.</p>
                        <div>
                          <img class="lazyautosizes lazyloaded" src="/assets/image/new-bg02.webp"
                            data-srcset="/assets/image/new-bg02.webp 320w, /assets/image/new-bg02.webp 480w, /assets/image/new-bg02.webp 768w, /assets/image/new-bg02.webp 1024w, /assets/image/new-bg02.webp 1280w, /assets/image/new-bg02.webp 1440w"
                            data-sizes="auto" sizes="948px"
                            srcset="/assets/image/new-bg02.webp 320w, /assets/image/new-bg02.webp 480w, /assets/image/new-bg02.webp 768w, /assets/image/new-bg02.webp 1024w, /assets/image/new-bg02.webp 1280w, /assets/image/new-bg02.webp 1440w">
                        </div>
                        <p></p>
                        <p>There are even more rewards available if you follow 8 Ball Master on Facebook, join the
                          game’s Discord community, and participate in upcoming events.</p>
                        <p>Then there’s the Super 8 Ball Championship, a competition with a top prize of $1000 USD, and
                          second and third prizes of $500 USD and $200 USD respectively, along with a physical cue and
                          $250 worth of in-game items.</p>
                        <p>To get started, head to Game Hollywood Games and start playing 8 Ball Master for free right
                          now.</p>
                        <div class="tags">
                          <span class="name-field">Tags:</span>
                          Game
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </main>
              <!-- 右侧边栏 -->
              {{include "../model/blog-aside.html"}}

            </div>
          </div>
        </div>
      </div>
    </div>


    <!--#include file="footer.html"-->

    <div id="thim-preloading">
      <div class="custom-image">
        <img src="/assets/images/wave.gif" alt="Loading">
      </div>
    </div>
  </div>
  <div id="back-to-top" class="btn-back-to-top">
    <i class="ion ion-ios-arrow-thin-up"></i>
  </div>

  <script src="/assets/js/libs/jquery/jquery.min.js"></script>
  <script src="/assets/js/libs/bootstrap/popper.js"></script>
  <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/js/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/libs/slick/slick.min.js"></script>
  <script src="/assets/js/libs/isotope/isotope.pkgd.min.js"></script>
  <script src="/assets/js/libs/select2/select2.min.js"></script>
  <script src="/assets/js/libs/sticky-sidebar/theia-sticky-sidebar.js"></script>
  <script src="/assets/js/thim-custom.js"></script>

</body>

</html>