HELP.md
.gradle
*.pyc
build
log
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

node_modules
sf-manager-client/dist
sf-quartz-client/dist
sf-quartz-jobs_old

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
release/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
