<div class="widget-area col-sm-9 col-md-8 col-lg-3 sticky-sidebar">
    <aside class="widget widget_thim_layout_builder">
      <div class="bp-element bp-element-posts layout-list-2">
        <div class="wrap-element">
          <div class="list-posts">
            <div class="post-item1">
              <div class="pic">
                <a href="/single-blog-01">
                  <img src="assets/image/new-01.jpeg" alt="IMG">
                </a>
              </div>
              <div class="text">
                <h4 class="title">
                  <a href="/single-blog-01">
                    STUDY: MILLENNIALS SPEND …
                  </a>
                </h4>
              </div>
              <div class="info">
                March 14, 2023
              </div>
            </div>
            <div class="post-item1">
              <div class="pic">
                <a href="/single-blog-02">
                  <img src="assets/image/new-02.webp" alt="IMG">
                </a>
              </div>
              <div class="text">
                <h4 class="title">
                  <a href="/single-blog-02">
                    STEPS TO PROTECTING …
                  </a>
                </h4>
              </div>
              <div class="info">
                June 19, 2023
              </div>
            </div>
            <div class="post-item1">
              <div class="pic">
                <a href="/single-blog-03">
                  <img src="assets/image/new-03.webp" alt="IMG">
                </a>
              </div>
              <div class="text">
                <h4 class="title">
                  <a href="/single-blog-03">
                    8 BALL MASTER CUES OFF …
                  </a>
                </h4>
              </div>
              <div class="info">
                May 24, 2023
              </div>
            </div>
            <div class="post-item1">
              <div class="pic">
                <a href="/single-blog-04">
                  <img src="assets/image/new-04.webp" alt="IMG">
                </a>
              </div>
              <div class="text">
                <h4 class="title">
                  <a href="/single-blog-04">
                    WHAT FAN STUDIO ARE …
                  </a>
                </h4>
              </div>
              <div class="info">
                August 15, 2023
              </div>
            </div>
            <div class="post-item1">
              <div class="pic">
                <a href="/single-blog-05">
                  <img src="assets/image/new-05.webp" alt="IMG">
                </a>
              </div>
              <div class="text">
                <h4 class="title">
                  <a href="/single-blog-05">
                    ACCLAIMED SURVIVAL …
                  </a>
                </h4>
              </div>
              <div class="info">
                May 12, 2023
              </div>
            </div>
            <div class="post-item1">
              <div class="pic">
                <a href="/single-blog-06">
                  <img src="assets/image/new-06.webp" alt="IMG">
                </a>
              </div>
              <div class="text">
                <h4 class="title">
                  <a href="/single-blog-06">
                    BANKSTERS – A UNIQUE NFT …
                  </a>
                </h4>
              </div>
              <div class="info">
                June 13, 2023
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>